.CurrentWeather {
	font-size: 55px;
	font-weight: bold;
}

.CurrentWeather .temperature {
	font-size: 75px;
	font-weight: bold;
}

.CurrentWeather ul {
	padding-top: 15px;
}

.CurrentWeather li {
	list-style: none;
	margin: 0;
	padding: 0;
	display: block;
	font-size: 16px;
	height: 18.8889px;
	line-height: 19.2px;
}

.CurrentWeather li::first-letter {
	text-transform: capitalize;
}
