.App .image-wrapper {
	background-image: url("../public/images/background-image.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	object-fit: cover;
}

.App .text-right {
	text-align: right !important;
}

.App .container {
	background-color: white;
	border: 2px solid gray;
	border-radius: 30px 1px 0px 0px;
	padding-bottom: 1px;
	margin-bottom: 0px;
	max-width: 800px;
	--bs-gutter-x: 0px;
	min-height: 100vh;
}

.App .space {
	margin-left: 10px;
	margin-right: 10px;
}
